.credit-section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .credit-section h2 {
    font-size: 1.5rem;
    color: darkgreen;
    margin-bottom: 30px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .credit-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .credit-logos img {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }