.contact {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
  color: darkgreen;
}

.contact h1 {
  margin-bottom: 4rem;
}

.contact h2 {
  color: darkgreen;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 40rem;
}

.map-container {
  width: 65%;
  height: 75%;
  margin-bottom: 20px;
}

.map-box {
  width: 60%;
  height: 90%;
}

.info-section {
  width: 30%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  width: 35%;
  margin-top: 5rem;
  height: 80%;
}

.info-item {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 30%;
}

.info-icon {
  font-size: 40px;
  color: darkgreen;
}


@media (max-width: 1000px) {
  .contact-container {
    width: 100%;
    height: 60rem;
  }

  .map-container {
    width: 100%;
    height: 50%;
  }

  .map-box {
    width: 100%;
    height: 100%;
  }

  .contact-container {
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
  }

  .info-section {
    width: 80%;
  }

  .info-item {
    height: 50%;
    padding: 1rem;
    margin-bottom: 5px;
  }

}

  @media (max-width: 500px) {
    .contact-container {
      width: 100%;
      height: 80rem;
    }

    .info-section {
      width: 100%;
    }

    .info-item {
      height: 50%;
      padding: 1rem;
      margin-bottom: 5px;
      font-size: 15px;
    }

  }